.DS_Store
*/target/*
*.swp
*~
*.iml
*.ipr
*.iws
*.sublime-workspace
*.sublime-project
*.pyc
*.pyo
*.log
TEST-*.xml
.idea/
/target/
*/__pycache__/*
/dist/*
/*.egg-info/*
/_build/*
/build/*
vpy
